EXPO_PUBLIC_API_BASE_URL=https://jupweb.maceesoft.com/api
EXPO_PUBLIC_API_AUTH_USER=your_system_user
EXPO_PUBLIC_API_AUTH_PWD=your_system_password
EXPO_PUBLIC_API_ODATA_URL=https://jupweb.maceesoft.com/oData
EXPO_PUBLIC_API_PREOP_BASE_URL=https://jupweb.co
EXPO_PUBLIC_EMAILJS_SERVICE_ID=your_emailjs_service_id
EXPO_PUBLIC_EMAILJS_TEMPLATE_ID=your_emailjs_template_id
EXPO_PUBLIC_EMAILJS_PUBLIC_KEY=your_emailjs_public_key
EXPO_PUBLIC_EMAILJS_PRIVATE_KEY=your_emailjs_private_key
